<h1> 
  <%= @review.name %>  
</h1>

<p>
	<%= @review.address %>
</p>
<p>
	<%= @review.phone_number %>
</p>

<td><h4><a href= "/restaurants/" class= "btn btn-primary" >Back to all restaurants</a></h4><td>